@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./variables.scss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: $bg;
    background-image: url(/assets/img/login.jpg);
    overflow: none;
    margin: 0;
}